*{
            margin:0;
        }

        @font-face {
            font-family: 'Pilcrow Variable';
            src: url('assets/fonts/PilcrowVariable-Regular.woff2') format('woff2'),
            url('assets/fonts/PilcrowVariable-Regular.woff') format('woff');
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }

        *{
            font-family: 'Pilcrow Variable';
        }
        nav {
            background-color: #263238;
            padding: 2rem 1rem;
        }

        nav a{
            background-color: #ffbe9d;
            border-radius: 0.325rem;
            color: white;
            padding: 0.5rem 1rem;
            text-decoration: none;
        }

        .scroll-div{
            display: inline-flex;
            overflow: scroll;
        }

        .scroll-div::-webkit-scrollbar {
            display: none; /* For Chrome, Safari, and Opera */
        }

        .portfolio-card{
            border: solid;
            border-width: 1px;
            border-radius: 0.5rem;
            margin-right: 1rem;
            min-width: 20dvw;
        }
        .portfolio-card img{
            width: 100%;
        }