    * {
        font-family: SF Mono Regular;
    }


    body{
        background-color: #fbfbfb;
    }


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .brand-icon {
        color: #1e1e24;
        font-family: SF Mono Regular;

        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: -0.125rem;
        margin: 0.5rem 1rem;
        text-decoration: none;
    }