* {
    font-family: SF Mono Regular;
}


body{
    background-color: #fbfbfb;
}

header {
    padding: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>a{
    background-color: #7067cf;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.nav-brand {
    color: blue;
    margin: 0.5rem 1rem;
}

.nav-link {
color: #1e1e24;
margin: 0.5rem 0 0.5rem 2rem;
text-decoration: none;
}

.nav-link:hover{
    color: blue;
}

.hero-section h1{
    color: #7067cf;
    font-size: 5.25rem;
    font-weight: 500;
}